// Firefox
:root {
  --color-link-hover-purple: #c169ffb9;
  --color-back-button: var(--color-background);
  --color-link-hover: var(--color-emphasis-dark);
  --color-emphasis-dark: #d7d7dbdc;
  --color-emphasis-light: #ededf0d0;
  --color-separator: #d7d7db;
  --color-background: #ffffff;
  --color-secondary-background: var(--color-background);
  --color-alternative-background: rgb(255, 255, 255);
  --color-font: #0c0c0d;
  --color-secondary-font: #737373;
  --color-alternative-font: #0c0c0d; // font in search

  --color-font-button: #0c0c0dcc; // TODO implement better

  // FROM SCSS VARS (_vars.scss)
  --browser: "firefox";
  --font-size: inherit;
  --font-family: inherit;

  --border-radius: 1px;

  --search-border-radius: var(--border-radius);
  --search-border: none;
  --search-padding-left: 8px;
  --search-input-color: var(--color-alternative-font);

  // --header-button-dimension: 32px;
  // --item-button-dimension: 20px;

  --large-button-dimension: 32px;
  --small-button-dimension: 20px;

  --button-hover-color: var(--color-emphasis-light);
  --button-active-color: var(--color-emphasis-dark);
  --header-container-bg: inherit;
  --search-container-color: var(--color-alternative-font);
  --li-count-color: inherit;
  --li-count-hover-color: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link-hover: #663399;
    --color-back-button: darkorchid;
    --color-emphasis-dark: #737373c1;
    --color-emphasis-light: #7373738a;
    --color-separator: #7373738a;
    --color-background: #4a4a4f;
    --color-secondary-background: var(--color-background);
    --color-alternative-background: rgb(255, 255, 255); // search background
    --color-font: #ffffff;
    --color-secondary-font: #f9f9fa;
    --color-alternative-font: #0c0c0d; // font in search

    --color-font-button: #f9f9facc;
  }
}