// Browser-related variables (chrome)
$browser: "firefox"; // chrome or firefox

// $font-size: 12px; // font-size: 81.25%;
// $font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Ubuntu', 'Roboto', 'sans-serif';
$font-size: inherit;
$font-family: inherit;

$border-radius: 1px;
$search-border-radius: $border-radius;

$search-border: none;
$search-padding-left: 8px;
$search-input-color: var(--color-alternative-font);

$header-button-dimension: 32px;
$item-button-dimension: 20px;

$button-hover-color: var(--color-emphasis-light);
$button-active-color: var(--color-emphasis-dark);

$header-container-bg: inherit;
$search-container-color: var(--color-alternative-font);

$li-count-color: inherit;
$li-count-hover-color: inherit;

// Buttons
$bookmark-close-size: 70%;

@mixin item-buttons {
    @include item-button(".remove", $removeIcon, 75%);
    @include item-button(".bookmark", $bookmarkIcon, 70%);
    @include item-button(".bookmark-all", $bookmarkAllIcon, 70%);
    @include item-button(".get-in", $getInIcon, 60%, inherit, inherit);
}

@mixin header-buttons {
    @include header-button(".close-all", $closeAllIcon, 60%);
    @include header-button(".search-btn", $searchBtnIcon, 60%);
    @include header-button(".back", $goBackIcon, 50%, var(--color-back-button));
}