// Browser-related variables (chrome)
$browser: "firefox"; // chrome or firefox

// $font-size: 12px; // font-size: 81.25%;
// $font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Ubuntu', 'Roboto', 'sans-serif';
$font-size: var(--font-size);
$font-family: var(--font-family);

$border-radius: 1px;
$search-border-radius: $border-radius;

$search-border: none;
$search-padding-left: 8px;
$search-input-color: var(--color-alternative-font);

$header-button-dimension: 32px;
$item-button-dimension: 20px;

$button-hover-color: var(--color-emphasis-light);
$button-active-color: var(--color-emphasis-dark);

$header-container-bg: inherit;
$search-container-color: var(--color-alternative-font);

$li-count-color: inherit;
$li-count-hover-color: inherit;

// Buttons
$bookmark-close-size: 70%;