@import "../../styles/chrome/style.scss";

html, body {
    // background-color: rgb(32, 33, 36);
    display: initial !important;
    width: 100%;
    max-width: initial !important;
    overflow: visible !important;
}

.dev-wrapper {
    height: 100%;
}

.screen-dev-wrapper {
    width: 370px;
    height: 573px;
    margin: 1rem;
    padding: 10px;
}

.overall-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.screen-dev-wrapper:last-of-type {
    margin-right: 0;
}

.index-title {
    color: #e8eaed;
    margin: 4px 0;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.dev-wrapper {
    position: relative;
    border: 1px solid #555;
    height: 100%;
}