:root {
  --color-link-hover-purple: #c169ffb9;
  --color-link-hover: var(--color-emphasis-dark);
  --color-emphasis-dark: #d7d7dbdc;
  --color-emphasis-light: #ededf0d0;
  --color-separator: #d7d7db;
  --color-background: #ffffff;
  --color-font: #0c0c0d;
  --color-secondary-font: #737373;
  --color-back-button: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link-hover: #663399;
    --color-emphasis-dark: #737373c1;
    --color-emphasis-light: #7373738a;
    --color-separator: #7373738a;
    --color-background: #4a4a4f;
    --color-font: #ffffff;
    --color-secondary-font: #f9f9fa;
    --color-back-button: darkorchid;
  }
}

html,
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  padding: 0;
  max-width: 370px;
  min-width: 350px;
  width: auto;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-font);
  
  font-size: 12px;
  font-weight: 400;
  font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Ubuntu', 'Roboto', 'sans-serif';
  font: caption;
  
  cursor: default;
  user-select: none;
  -moz-user-select: none;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  margin-block-start: auto;
  margin-block-end: auto;
  padding-inline-start: initial;
}

li {
  display: flex;
  width: 100%;
  height: 20px;
  padding: 4px 0;
  align-items: center;
}

li:hover,
#ten-unused:hover {
  background-color: var(--color-link-hover);
}

li>div {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 12px 0 16px;
  align-items: center;
  flex-basis: auto;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.url-container>div,
.main-item-text-container>div,
.item-container>div,
.item-buttons-container>div {
  margin-left: 4px;
}

.url-container>div:first-of-type,
.main-item-text-container>div:first-of-type,
.item-container>div:first-of-type,
.item-buttons-container>div:first-of-type {
  margin-left: 0;
}

.item-text-container {
  min-width: 0;
}

.item-buttons-container {
  flex-shrink: 0;
  display: flex;
  min-width: 0;
}

.main-item-text-container {
  display: flex;
  width: inherit;
  justify-content: space-between;
  min-width: 0;
}

#header>span,
#ten-unused>span,
.header-title > span {
  padding: 4px 16px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

#ten-unused>span {
  padding: initial;
  height: initial;
}

#ten-unused {
  margin-top: 4px;
  display: inline-grid;
  grid-template-columns: [text] auto 20px [end];
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
}

.separator {
  border-bottom: 1px solid var(--color-separator);
  margin-bottom: 4px;
  margin-top: 4px;
}

.separator-bottom {
  margin-bottom: 0;
}

#main-container {
  left: 0px;
  position: relative;
  min-height: 300px;
  max-height: 600px;
  display: flex;
}

.body-container, .ul-container {
  overflow-y: scroll;
  overflow-y: auto;
}

.body-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container {
  margin-top: 4px;
}

.url,
.last-displayed {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.count {
  flex-basis: auto;
}

.remove,
.get-in,
.bookmark {
  width: 20px;
  height: 20px;
  align-self: center;
  text-align: center;
  flex-shrink: 0;
}

.remove {
  background-image: url(../icons/btn-remove.svg);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px !important;
}

.remove:hover,
.bookmark:hover {
  background-color: var(--color-emphasis-light);
}

.remove:active,
.bookmark:active {
  background-color: var(--color-emphasis-dark);
}

.bookmark {
  border-radius: 1px;
  background-image: url(../icons/btn-bookmark-star.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.bookmark.bookmark-close {
  background-image: url(../icons/ico-bookmark-close.svg);
  background-size: 70%;
}

.bookmark.bookmarked {
  background-image: url(../icons/btn-bookmark-star-full.svg);
}

.get-in {
  background-image: url(../icons/btn-bold-arrow.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.go-back {
  background-image: url(../icons/btn-big-arrow.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

/* DETAILS */

#overview {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#details, #latest {
  position: absolute;
  height: 100%;
  width: 100%;
  right: -100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#header.control {
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-content: center;
  height: 30px;
}

.control .back, .control .close-all {
  justify-self: center;
  width: 32px;
  height: 32px;
  background-color: var(--color-back-button);
  align-self: center;
  text-align: center;
  font-size: 1.15em;
  border-radius: 1px;
  display: block;
  line-height: 32px;
}

.control .back:hover {
  background-color: var(--color-emphasis-light);
}

.control .back:active {
  background-color: var(--color-emphasis-dark);
}

.control .close-all {
  background-color: inherit;
  background-image: url("../icons/btn-big-remove.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.control .close-all:hover {
  background-color: var(--color-emphasis-light);
}

.control .close-all:active {
  background-color: var(--color-emphasis-dark);
}

.header-title {
  justify-self: center;
  align-self: center;
}

.title.detail {
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

.url.detail,
.last-displayed.detail {
  font-style: italic;
  word-break: keep-all;
}

li.detail {
  height: 40px;
}

/* ANIMATIONS */
.slide-in {
  right: 0% !important;

  transition: right 150ms cubic-bezier(.07, .95, 0, 1);
}

.slide-out {
  left: -100% !important;

  transition: left 150ms cubic-bezier(.07, .95, 0, 1);
  position: relative;
}

#overview.slide-out {
  overflow-y: hidden !important;
}

.slide-out-reverse {
  right: -100% !important;

  transition: right 150ms cubic-bezier(.07, .95, 0, 1);
}

.slide-in-reverse {
  left: 0% !important;

  transition: left 150ms cubic-bezier(.07, .95, 0, 1);
}

#overview.slide-in-reverse {
  overflow-y: auto !important;
}

.screen {
  top: 0;
}