node_modules/
log
src/dev/icons/src
.vscode
coverage/
debug.log
.DS_Store
.parcel-cache
.cache

# Keep only specific builds
build/**/
!build/firefox/
!build/chrome/
build/**/src*

# Dist and dev temp files
dist/test/*
dist/firefox/*
dist/chrome/*
dist/webpack/*
dist/.*-temp
src/dev/style-dev/style.css

# Files generated during development
src/popup/popup.html
src/manifest.json


**/stories/_example/