// Buttons and icons
$bookmarkIcon: url(../../_icons/btn-bookmark-star.svg);
$bookmarkCloseIcon: url(../../_icons/ico-bookmark-close.svg);
$bookmarkAllIcon: url(../../_icons/ico-bookmark-close.svg);
$bookmarkedIcon: url(../../_icons/btn-bookmark-star-full.svg);

$goBackIcon: url(../../_icons/btn-big-arrow.svg);
$closeAllIcon: url(../../_icons/btn-big-remove.svg);

$getInIcon: url(../../_icons/btn-bold-arrow.svg);
$removeIcon: url(../../_icons/btn-remove.svg);
$searchBtnIcon: url(../../_icons/btn-search-24.svg);

// Chrome-only
$chGetInIcon: url(../../_icons/btn-arrow-filled-ch.svg);