// .close-all, #search-btn (.back later)
@mixin header-button ($btn-name, $img, $img-size, $bck-color: inherit, $hover-color: $button-hover-color, $active-color: $button-active-color) {
    #{$btn-name}.header-button {
        width: $header-button-dimension;
        height: $header-button-dimension;
        border-radius: $border-radius;

        border: 0;
        padding: 0;

        background-color: $bck-color;

        display: flex;
        justify-content: center;
        align-items: center;

        color: rgba(12, 12, 13);

        @media (prefers-color-scheme: dark) {
          color: rgba(249, 249, 250, 0.8); // TODO fix opacity!
        }

        @if $btn-name==".back" {
            transform: rotate(180deg);
        }

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }
}

@mixin item-button($btn-name, $img, $img-size, $hover-color: $button-hover-color, $active-color: $button-active-color) {
    #{$btn-name} {
        width: $item-button-dimension;
        height: $item-button-dimension;
        border-radius: $border-radius;
        flex-shrink: 0;

        border: 0;

        background-image: $img;
        background-color: inherit;

        color: rgba(12, 12, 13);

        @media (prefers-color-scheme: dark) {
          color: rgba(249, 249, 250, 0.8); // TODO fix opacity!
        }

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }
}

@mixin truncate-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}