// .close-all, #search-btn (.back later)
@mixin header-button ($btn-name, $img, $img-size, $bck-color: inherit, $hover-color: $button-hover-color, $active-color: $button-active-color) {
    #{$btn-name}.header-button {
        width: $header-button-dimension;
        height: $header-button-dimension;

        justify-self: center;
        align-self: center;
        text-align: center;
        line-height: $header-button-dimension;
        font-size: 1.15em;
        border-radius: $border-radius;
        display: block;

        border: 0;

        background-color: $bck-color;
        background-image: $img;
        background-size: $img-size;
        background-position: center;
        background-repeat: no-repeat;

        @if $btn-name==".back" {
            transform: rotate(180deg);
        }

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }
}

@mixin item-button($btn-name, $img, $img-size, $hover-color: $button-hover-color, $active-color: $button-active-color) {
    #{$btn-name} {
        width: $item-button-dimension;
        height: $item-button-dimension;

        border-radius: $border-radius;
        align-self: center;
        text-align: center;
        flex-shrink: 0;

        border: 0;

        background-image: $img;
        background-size: $img-size;
        background-repeat: no-repeat;
        background-position: center;
        background-color: inherit;

        &:hover {
            background-color: $hover-color;
        }

        &:active {
            background-color: $active-color;
        }
    }
}

@mixin truncate-text {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}