// Chrome-dev
:root {
  --color-link-hover-purple: #c169ffb9;
  --color-back-button: var(--color-background);
  --color-link-hover: var(--color-emphasis-dark);
  --color-emphasis-dark: #d7d7dbdc;
  --color-emphasis-light: rgb(200, 200, 201);
  --color-separator: #d7d7db;
  --color-background: rgb(255, 255, 255);
  --color-secondary-background: var(--color-background);
  --color-alternative-background: rgb(241, 243, 244);
  --color-font: #0c0c0d;
  --color-secondary-font: rgb(98, 99, 101);
  --color-alternative-font: var(--color-font);

  --color-font-button: #0c0c0dcc; // TODO implement better


  // FROM SCSS VARS (_vars.scss)

  /* Browser-related variables (chrome) */
  --browser: "chrome";

  --font-size: 13px;
  --font-family: 'San Francisco', 'Segoe UI', 'Helvetica Neue', 'Ubuntu', 'Roboto', 'sans-serif';

  --border-radius: 100%;
  --search-border-radius: 50px;

  --search-border: 2px solid transparent;
  --search-padding-left: 12px;
  --search-input-color: var(--color-font);

  // --header-button-dimension: 27px;
  // --item-button-dimension: 22px;

  --large-button-dimension: 27px;
  --small-button-dimension: 22px;

  --button-hover-color: var(--color-emphasis-light);
  --button-active-color: var(--color-emphasis-dark);

  --header-container-bg: var(--color-secondary-background);
  --search-container-color: inherit;

  --li-count-color: var(--color-secondary-font);
  --li-count-hover-color: var(--color-font);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link-hover: #663399;
    --color-back-button: darkorchid;
    --color-emphasis-dark: #737373c1; // ???
    --color-emphasis-light: rgb(75, 76, 79); // header button hover
    --color-separator: rgb(63, 64, 66);
    --color-background: rgb(41, 42, 45); // main background
    --color-secondary-background: rgb(53, 54, 58); // header background
    --color-alternative-background: rgb(32, 33, 36); // search background
    --color-font: rgb(232, 234, 237); // chrome
    --color-secondary-font: rgb(172, 174, 177); // icons + (2)
    --color-alternative-font: rgb(95, 99, 104); // font in search

    --color-font-button: rgba(249, 249, 250, 0.8); // TODO is this the color?
  }
}