@import "icons";
@import "colors";

// Browser-related variables (chrome)
$font-size: 12px;
// font-size: 81.25%;
$font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;

$item-buttons-height: 22px;
$header-buttons-height: 27px;

// 