.confirm {
    /* background-color: rgba(var(--color-alternative-background), 0.8); */
    background-color: rgba(32, 33, 36, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-box {
    background-color: rgb(41, 42, 45);
    width: 75%;
    height: 30%;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.confirm-message-box {
    padding: 0.8rem;
    padding: 2rem;
    line-height: 1.4rem;
}

.confirm-buttons-section {
    padding: 0.8rem;
    background-color: rgb(53, 54, 58);
    border-radius: 0.2rem;
    display: flex;
    justify-content: space-evenly;
}

/* Dont like these buttons, find another way */
.confirm-btn {
    padding: 0.4rem 0.8rem;
    background-color: grey;
    border: 1px;
    color: white;
    border-radius: 0.2rem;
}

.confirm-btn:hover {
    background-color: grey;
}