@import "vars";
// @import "colors";
@import "mixins";
@import "animations";
@import "search";

html,
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  padding: 0;
  max-width: 370px;
  min-width: 350px;
  width: auto;
  overflow: hidden;
  background-color: var(--color-background);
  

  font: caption;
  
  cursor: default;
  user-select: none;
  -moz-user-select: none;
}

body, input {
  font-size: $font-size; // snad 13px?
  font-weight: 400;
  font-family: $font-family;
  color: var(--color-font);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

ul {
  list-style: none;
  margin-block-start: auto;
  margin-block-end: auto;
  padding-inline-start: initial;
}

.screen {
  top: 0;
}

.hidden {
  display: none;
}

li {
  display: flex;
  width: 100%;
  height: 20px;
  padding: 4px 0;
  align-items: center;
}

li#nothing-to-show {
  height: auto;

  &:hover {
    background-color: transparent;
  }
}

li:hover,
#ten-unused:hover {
  background-color: var(--color-link-hover);

  .count {
    color: var(--color-font);
  }
}

li>div {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 12px 0 16px;
  align-items: center;
  flex-basis: auto;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
}

.url-container>div,
.main-item-text-container>div,
.item-container>div,
.item-buttons-container>div {
  margin-left: 4px;
}

.url-container>div:first-of-type,
.main-item-text-container>div:first-of-type,
.item-container>div:first-of-type,
.item-buttons-container>div:first-of-type {
  margin-left: 0;
}

.item-text-container {
  min-width: 0;
}

.item-buttons-container {
  flex-shrink: 0;
  display: flex;
  min-width: 0;
}

.main-item-text-container {
  display: flex;
  width: inherit;
  justify-content: space-between;
  min-width: 0;
}

#header>span,
#ten-unused>span,
.header-title > span {
  padding: 4px 16px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

#header.control.header-overview {
  grid-template-columns: auto 40px;
}

#header.control.header-overview .header-title{
  justify-self: initial;
}

#ten-unused>span {
  padding: initial;
  height: initial;
}

#ten-unused {
  margin-top: 4px;
  display: inline-grid;
  grid-template-columns: [text] auto 20px [end];
  width: 100%;
  padding: 4px 16px;
  box-sizing: border-box;
  align-items: center;
}

.separator {
  border-bottom: 1px solid var(--color-separator);
  margin-bottom: 4px;
  margin-top: 4px;
}

.separator-bottom {
  margin-bottom: 0;
}

#main-container {
  left: 0px;
  position: relative;
  min-height: 300px;
  max-height: 600px;
  display: flex;
}

.body-container, .ul-container {
  overflow-y: scroll;
  overflow-y: auto;
}

.body-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container {
  // margin-top: 4px;
  padding-top: 4px;
  background-color: var(--color-secondary-background);
}

// HEADER
// Header container child - without 
#header.control {
  display: grid;
  grid-template-columns: 40px auto 40px;
  align-content: center;
  height: 30px;
}

.header-title {
  justify-self: center;
  align-self: center;
}

// Header buttons
@include header-button(".close-all", $closeAllIcon, 50%);
@include header-button("#search-btn", $searchBtnIcon, 50%);
@include header-button(".back", $goBackIcon, 45%, var(--color-back-button));

.control .btn-inactive {
  opacity: 30%;

  &:hover, &:active {
    background-color: initial;
  }
}
// End of header

// Buttons on items
@include item-buttons(".remove", $removeIcon, 70%);
@include item-buttons(".bookmark", $bookmarkIcon, 60%);
@include item-buttons(".bookmark-all", $bookmarkAllIcon, 60%);
@include item-buttons(".get-in", $getInIcon, 55%, inherit, inherit);

.bookmark {
  .bookmark-close {
    background-image: $bookmarkCloseIcon;
    background-size: 60%;
  }
  .bookmarked {
    background-image: $bookmarkedIcon;
  }
}


// Případ těch, co jsou napravo, nebo nalevo: chce konkrétnější řešení
.remove {
  margin-left: 4px !important;
}



/* DETAILS */
// Screens
#overview {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#details, #latest, #search {
  position: absolute;
  height: 100%;
  width: 100%;
  right: -100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title.detail {
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  margin-bottom: 2px;
}

.url.detail,
.last-displayed.detail {
  font-style: italic;
  word-break: keep-all;
}

li.detail {
  height: 40px;
}

// Overview & buttons
.url,
.last-displayed {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Info on how many items are in the category
.count {
  flex-basis: auto;
  color: var(--color-secondary-font);
}
